* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
}

header{
    background-color: #2C2C2C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    color: white;
    text-decoration: underline 3px;
}

.logo{
    font-size: 24px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
}

/* Galery */
.galery img{
    width: 100%;
}

.galery .grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.galery p {
    padding-top: 10px;
    text-align: center;
}

/* News */
.news .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.news div img {
    width: 100%;
}

.news .ads {
    text-align: center;
}

.news .column-2, .news .column-3 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.news .column-2 div, .news .column-3 div {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

.news .column-2 div p, .news .column-3 div p {
    align-self: center;
}

/* Youtube */
.youtube .grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.youtube .video img{
    width: 100%;
}

.youtube aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.youtube aside img{
    width: 100%;
}

/* Blog */
.blog .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.blog .post img{
    width: 100%
}

.blog .column-2{
    display: grid;
    gap: 20px;
}

.blog .small-post img{
    width: 100%;
    max-height: 285px;
}

.blog p {
    background-color: #2C2C2C;
    color: white;
    margin-bottom: -45px;
    padding: 10px 20px;
    position: relative;
    top: -45px;
}