@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 auto; 
    max-width:  1320px;
    padding: 30px 50px;
}

header, footer{
    background-color:#F81F15;
    color: white;
}

footer nav{
    margin-bottom: 20px;
}

header nav ul li{
    display: inline;
}

nav ul{
    list-style: none;
}

/* Home Page */
.main-banner h1{
    text-align: center;
    margin-bottom: 20px;
}

.main-banner .container .pictures div{
    border: 3px solid #2B3784;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 16px;
    width: 170px;
}

.main-banner .container div p{
   text-align: center;
}

.main-text{
    background-color:#444;
    color: white;
}

.main-text p{
    margin-bottom: 20px;
}

.address{
    text-align: center;
}
.address h2{
    padding: 10px 0;
}

/* About Page */
.about{
   text-align: center;
}

.about h1, .about iframe{
    margin-bottom: 20px;
}

.about p{
    text-align: justify;
    margin-bottom: 20px;
}

/* Contact page */
.contact h1{
    text-align: center;
    margin-bottom: 20px;
}

form{ 
    background-color: #2B3784;
    border-radius: 16px;
    color: white;
    padding: 20px 40px;
}

form div, form label{
   display: block;
   padding-bottom: 10px;
}

form .button{
    background-color: #F81F15;
    border: none;
    border-radius: 4px;
    color: white;
    line-height: 20px;
    width: 50px; 
}