* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFF3F8;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 16px;
}

.logo{
    height: 36px;
    width: 105px;
}

.rounded {
    border-radius: 4px;
}

header {
    display: flex;
}

.systems .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.systems .grid div{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    width: 100%;
}

